<div class="container">
    {{ form_start(form) }}
    <div class="form-row bg-dark">
        <div class="col text-white">
            {{ form_label(form.nom) }}
            {{ form_widget(form.nom) }}
        </div>
        <div class="col text-white">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
        </div>
    </div>
    <div class="form-row">
        <div class="col text-white">
            {{ form_label(form.typeService) }}
            {{ form_widget(form.typeService) }}
        </div>
        <div class="col text-white">
            {{ form_label(form.prix) }}
            {{ form_widget(form.prix) }}
        </div>
    </div>
    <br>
    <div class="col text-white">
        <a href="{{ path('res_service_index') }}" class="btn btn-lg btn-primary">Revenir</a>
        <button class="btn btn-lg btn-success">{{ button_label|default('Valider') }}</button>
    </div>
    {{ form_end(form) }}
</div>