{% extends 'base.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block body %}
<div class="container">
        <br>
        <h1 class="text-white">Entreprises</h1>
        <br>

        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Ville</th>
                <th>Adresse</th>
                <th>Code Postal</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for res_entreprise in res_entreprises %}
                <tr>
                    <td>{{ res_entreprise.nom }}</td>
                    <td>{{ res_entreprise.ville }}</td>
                    <td>{{ res_entreprise.adresse }}</td>
                    <td>{{ res_entreprise.codePostal }}</td>
                    <td>
                        <a href="{{ path('res_entreprise_show', {'id': res_entreprise.id}) }}"><i class="fa fa-search" style="font-size:26px;"></i></a>
                        <a href="{{ path('res_entreprise_edit', {'id': res_entreprise.id}) }}"><i class="fa fa-pencil-square" style="font-size:26px; color:orange"></i></a>
                        <a href="{{ path('res_entreprise_delete', {'id': res_entreprise.id}) }}"><i class="fa fa-minus-square" style="font-size:26px;color:red"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-align-left">
        <a href="{{ path('res_entreprise_new') }}" type="button" class="btn btn-lg btn-primary">Ajouter</a>
        </div>
        <br>
</div>
{% endblock %}
